torch==2.7.1+cu126
torchvision==0.22.1+cu126
torchaudio==2.7.1+cu126
numpy
scipy
pandas
scikit-learn
tqdm
pyyaml
notebook
matplotlib
soundfile
scikit-image
tabulate
intervaltree
openai-whisper==20230314
